*.nc
*.zip
*.gz
*.tar
*.tif
*.nc4
*.leg
*.tfw
*.vscode
*.swp
*checkpoint*
*__pycache__*
*wandb*
.ckpt
*.7z
*lightning_logs*
*tb_logs*
*ipynb_check*
.docs.sh
Dockerfile
logs
.DS_Store
**/dataloader/*.pkl
**/dataloader/*.npy
docs/build
examples/deepfwi-mini-sample
