# IPython
profile_default/
ipython_config.py

# Jupyter Notebook
checkpoint
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# TF / PyTorch / W&B
wandb
.ckpt

# Byte-compiled / optimized / DLL files
__pycache__/

# MacOS
.DS_Store

# Environments
env/
venv/
.env
.venv

# Vim / VSCode / PyCharm
.swp
.vscode
.idea/

# Large files
.nc
.zip
.gz
.tar
.tif
.nc4
.leg
.tfw